<div class="flex flex-col gap-4">
  <div>
    <input
      type="text"
      [(ngModel)]="searchText"
      placeholder="Search"
      class="block w-full px-3 py-2 mt-1 text-sm bg-white border rounded-md shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500"
    />
  </div>
  <div>
    <table class="w-full table-fixed">
      <thead>
        <tr>
          <th class="py-2 pl-2 border">Name</th>
          <th class="py-2 pl-2 border">Email</th>
          <th class="py-2 pl-2 border">User Name</th>
        </tr>
      </thead>
      <tbody>
        @for(user of (users$ | async) | filter:searchText; track user.id){
        <tr>
          <td class="py-2 pl-2 border">{{ user.name }}</td>
          <td class="py-2 pl-2 border">{{ user.email }}</td>
          <td class="py-2 pl-2 border">{{ user.username }}</td>
        </tr>
        }@empty {
        <tr>
          <td class="text-center" colspan="3">No data Found</td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>
